/********************************************************
    The purpose of course.css is to house only the css
    specific to an individual course. The online.css
    houses all the default template formatting.
********************************************************/
/* DO NOT DELETE OR MODIFY THIS IMPORT */
@import url('https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css');

/* Add Course Specific css Below */

html {
  background: -webkit-radial-gradient(ellipse, #21a048 0%, #265169 100%) fixed;
  background: radial-gradient(ellipse, #21a048 0%, #265169 100%) fixed;
}
img {
  max-width: 100%;
}
h1 {
  color: #171717;
  padding-top: 15px;
}

h2,
h4 {
  color: #d9666;
}

h3,
h5 {
  color: #296f58;
}

a {
  color: #4e8930;
  border-bottom: 2px solid #4e8930;
}

a:hover {
  color: #74c946;
  border-bottom: 2px solid #74c946;
}

a:visited {
  color: #74c946;
  border-bottom: 2px solid #74c946;
}

#footer {
  color: #ffffff;
  background-color: #227c5b;
}

/******
    SPLASH PAGE STYLING
*****/

.splash #article {
  color: #e8e8e8;
  background-color: #172725;
}

.splash h1 {
  color: #b7f4e6;
}

.splash h2,
.splash h4 {
  color: #50cfa4;
}

.splash h3,
.splash h5 {
  color: #b79fd6;
}

.splash a {
  color: #4acc9d;
  border-bottom: 2px solid #4acc9d;
}

.splash a:hover {
  color: #50cfa4;
  border-bottom: 2px solid #50cfa4;
}

.splash a:visited {
  color: #50cfa4;
  border-bottom: 2px solid #50cfa4;
}

.splash #footer {
  color: #8adcbb;
  background-color: #343434;
}

/******
    FEATURES STYLING
*******/

/* Callout box */
.callout {
  color: #171717;
  background: #d8d8d8;
}

/* Drop downs */
.drop-down {
  background: #287459;
}

.drop-down:hover {
  background: #3da05f;
}

/* Rubric table */
/* Column headings */
.rubric tr:first-child th {
  background-color: #287459;
}

/* Row headings */
.rubric th {
  background-color: #3da05f;
}

/* Mouseover popups */
#main .popup {
  border-bottom: dotted 2px #287459;
}

#main .popup span {
  background: #287459;
}

#main .popup:after {
  border-color: #287459 transparent;
}

.info-table {
  max-width: 500px;
  margin: auto;
}
.info-table thead tr td {
  background-color: #888;
}
code {
  font-weight: bold;
  color: cadetblue;
}
kbd {
  font-weight: bold;
  color: darkblue;
}

.bigSteps {
  list-style: none;
  counter-reset: my-counter;

  margin: 0;
  padding: 0;
}
.bigSteps > li {
  counter-increment: my-counter;

  margin-bottom: 0.5rem;
}

.bigSteps > li::before {
  content: counter(my-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: 'Impact', serif;
  line-height: 1;
}
.bigSteps > li:nth-child(-n + 9):before {
  content: '0' counter(my-counter);
}

.bigSteps ol {
  counter-reset: sub-counter;
  list-style: none;
}
.bigSteps ol > li {
  counter-increment: sub-counter;
  margin-bottom: 0.6em;
}
.bigSteps ol > li::before {
  content: counters(sub-counter, '.') '.';
  font-weight: bold;
  padding-right: 0.5em;
}

.bigSteps > li > h3,
.bigSteps > li > h2 {
  display: inline-block;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: 0.5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type='checkbox'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type='checkbox']:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
  border: 0;
}
.hint i:before,
.hint i:after {
  content: '';
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type='checkbox']:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type='checkbox']:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
