/********************************************************
    The purpose of course.css is to house only the css
    specific to an individual course. The online.css
    houses all the default template formatting.
********************************************************/
/* DO NOT DELETE OR MODIFY THIS IMPORT */
/* @import url('https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css'); */

/* Add Course Specific css Below */
:root {
  --header-background: #21a048;
  --callout-background-color: #d8d8d8;
}
/* html {
  background: -webkit-radial-gradient(ellipse, #21a048 0%, #265169 100%) fixed;
  background: radial-gradient(ellipse, #21a048 0%, #265169 100%) fixed;
} */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}
h1 {
  color: #171717;
  padding-top: 15px;
}

h2,
h4 {
  color: #0d9666;
}

h3,
h5 {
  color: #296f58;
}

a {
  color: #4e8930;
  border-bottom: 2px solid #4e8930;
}

a:hover {
  color: #74c946;
  border-bottom: 2px solid #74c946;
}

a:visited {
  color: #74c946;
  border-bottom: 2px solid #74c946;
}

#content {
  /* width: 90%; */
  max-width: 950px;
  margin: 0 auto;
  background-color: white;
  /* box-shadow: 0 0 12px #000000; */
}

/*
<div>
  <h1><span>WEB</span> Fundamentals</h1>
  <h2>WDD 130</h2>
</div> 
*/
.headerBanner {
  padding: 0.2em 0;
  background-color: var(--header-background);
  font-family: 'Lucida Console', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.headerBanner > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.3em 0;
  padding: 0.3em;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}

.headerBanner h1 {
  color: #bbe4c9;
  font-size: 2.8rem;
  margin: 5px;
  flex: 0 1 10em;
  line-height: 0.9;
  display: flex;
}
@media screen and (max-width: 500px) {
  .headerBanner h1 {
    font-size: 9vw;
  }
}
.headerBanner h1 > span {
  font-size: 100%;
  writing-mode: vertical-lr;
  line-height: 1.3;
  transform: rotate(180deg);
  padding-top: 0.2em;
  margin-right: -0.2em;
}
.headerBanner h2 {
  align-self: flex-end;
  margin-right: 1.5em;
  margin-bottom: 5px;
  font-size: 2rem;
  color: #bbe4c9;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headerLogo {
  background-color: #14304f;

  display: flex;
  flex-flow: row wrap;
  padding: 0.8em;
}

.headerLogo h1 {
  border-left: 1px solid;
  line-height: 3em;
  padding-left: 0.6em;
  color: white;
}
.headerLogo .logo {
  margin-right: 0.6em;

  align-self: center;
}

main {
  position: relative;
  padding: 20px;
  color: #3e3e3e;
  /* background-color: #f0f0f0; */
}
@media screen and (min-width: 1200px) {
  /* main {
    columns: 2;
    height: 80vh;
    overflow: scroll;
  } */
}
#mainNav {
  background-color: #f0f0f0;
  position: relative;
}
#mainNav > input {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 3em;
  cursor: pointer;
  z-index: 10;
}
#mainNav > h2 {
  margin: 0;
  text-align: center;
  line-height: 2em;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin: 0 0 3px 3px;
}

.arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#mainNav > input:checked + h2 > .arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.navLists {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0;
  transition: all 0.3s;
}
#mainNav > input:checked ~ .navLists {
  display: flex;
  opacity: 1;
}
nav ol > li,
nav ul > li {
  padding: 5px;
}

#footer {
  color: #ffffff;
  background-color: #227c5b;
}

/******
    SPLASH PAGE STYLING
*****/

.splash #article {
  color: #e8e8e8;
  background-color: #172725;
}

.splash h1 {
  color: #b7f4e6;
}

.splash h2,
.splash h4 {
  color: #50cfa4;
}

.splash h3,
.splash h5 {
  color: #b79fd6;
}

.splash a {
  color: #4acc9d;
  border-bottom: 2px solid #4acc9d;
}

.splash a:hover {
  color: #50cfa4;
  border-bottom: 2px solid #50cfa4;
}

.splash a:visited {
  color: #50cfa4;
  border-bottom: 2px solid #50cfa4;
}

.splash #footer {
  color: #8adcbb;
  background-color: #343434;
}

/******
    FEATURES STYLING
*******/

/* Callout box */

.callout {
  display: block;

  margin: 15px auto;
  width: 90%;
  padding: 10px;
  border: 1px solid black;
  color: #171717;
  background: var(--callout-background-color);
}

/* Drop downs */
.drop-down {
  background: #287459;
}

.drop-down:hover {
  background: #3da05f;
}

/* Rubric table */
/* Column headings */
.rubric tr:first-child th {
  background-color: #287459;
}

/* Row headings */
.rubric th {
  background-color: #3da05f;
}

/* Mouseover popups */
#main .popup {
  border-bottom: dotted 2px #287459;
}

#main .popup span {
  background: #287459;
}

#main .popup:after {
  border-color: #287459 transparent;
}

.info-table {
  max-width: 500px;
  margin: auto;
}
.info-table thead tr td {
  background-color: #888;
}
code {
  font-weight: bold;
  color: cadetblue;
}
kbd {
  font-weight: bold;
  color: darkblue;
}

.requirements {
  padding: 0;
}
@media screen and (min-width: 40em) {
  .requirements {
    padding: 0 5em;
  }
}

.bigSteps {
  list-style: none;
  counter-reset: my-counter;

  margin: 0;
  padding: 0;
}
.bigSteps > li {
  counter-increment: my-counter;

  margin-bottom: 0.5rem;
}

.bigSteps > li::before {
  content: counter(my-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: 'Impact', serif;
  line-height: 1;
}
.bigSteps > li:nth-child(-n + 9):before {
  content: '0' counter(my-counter);
}

.bigSteps ol {
  counter-reset: sub-counter;
  list-style: none;
}
.bigSteps ol > li {
  counter-increment: sub-counter;
  margin-bottom: 0.6em;
}
.bigSteps ol > li::before {
  content: counters(sub-counter, '.') '.';
  font-weight: bold;
  padding-right: 0.5em;
}

.bigSteps > li > h3,
.bigSteps > li > h2 {
  display: inline-block;
}
.bigSteps li > p:first-child {
  display: inline-block;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: 0.5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type='checkbox'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type='checkbox']:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
  border: 0;
}
.hint i:before,
.hint i:after {
  content: '';
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type='checkbox']:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type='checkbox']:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
