/********************************************************
    The purpose of course.css is to house only the css
    specific to an individual course. The online.css
    houses all the default template formatting.
********************************************************/
/* DO NOT DELETE OR MODIFY THIS IMPORT */
@import url("https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css");

/* Add Course Specific css Below */


html {
	background: -webkit-radial-gradient(ellipse, #21a048 0%, #265169 100%) fixed;
	background: radial-gradient(ellipse, #21a048 0%, #265169 100%) fixed;
}
img {max-width: 100%;}
h1 {
	color: #171717;
    padding-top: 15px;
}

h2,
h4 {
	color: #d9666;
}

h3,
h5 {
	color: #296f58;
}

a {
	color: #4e8930;
	border-bottom: 2px solid #4e8930;
}

a:hover {
	color: #74c946;
    border-bottom: 2px solid #74c946;
}

a:visited {
	color: #74c946;
    border-bottom: 2px solid #74c946;
}

#footer {
	color: #ffffff;
	background-color: #227c5b;
}

/******
    SPLASH PAGE STYLING
*****/

.splash #article {
	color: #e8e8e8;
	background-color:  #172725;
}

.splash h1 {
	color: #b7f4e6;
}

.splash h2,
.splash h4 {
	color: #50cfa4;
}

.splash h3,
.splash h5{
	color: #b79fd6;
}

.splash a {
    color: #4acc9d;
	border-bottom: 2px solid #4acc9d;
}

.splash a:hover {
	color:  #50cfa4;
    border-bottom: 2px solid  #50cfa4;
}

.splash a:visited {
	color:  #50cfa4;
    border-bottom: 2px solid  #50cfa4;
}

.splash #footer {
	color: #8adcbb;
	background-color: #343434;
}

/******
    FEATURES STYLING
*******/

/* Callout box */
.callout {
    color:  #171717;
    background: #d8d8d8;
}

/* Drop downs */
.drop-down {
    background: #287459;
}

.drop-down:hover {
    background: #3da05f;
}

/* Rubric table */
/* Column headings */
.rubric tr:first-child th {
	background-color: #287459;
}

/* Row headings */
.rubric th {
    background-color: #3da05f;
}

/* Mouseover popups */
#main .popup {
    border-bottom: dotted 2px #287459;
}

#main .popup span {
    background: #287459;
}

#main .popup:after {
    border-color: #287459 transparent;
}

.info-table {
    max-width: 500px;
    margin: auto;
}
.info-table thead tr td {
    background-color: #888;
}
