body {
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
#mainNav {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-around;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: burlywood;
}
#mainNav li a {
  display: block;
  padding: 1em;
}
.listStyles {
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}

.listStyles li > h2 {
  text-align: center;
  background-color: burlywood;
}

.listStyles li > img {
  width: 100%;
  max-width: 500px;
}

.hikeList > div {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hikeList h3 {
  margin: 0.5em;
}
.hikeList img {
  height: 15vh;
}

.addComment input {
  width: 100%;
}

.addComment {
  display: none;
}
